@font-face {
	font-family: "Semplicita-Light";
	src:
		url('/zcamwf/javax.faces.resource/fonts/Semplicita_Light.otf.xhtml');
}

body {
	background-color: #d5d2db !important;
	font-family: Semplicita-Light !important;
	font-size: 2em !important;
	color: #23366f;
}

body .navbar-default {
	background-color: white;
	border-color: white;
}

body .navbar-default .navbar-nav>li>a:hover {
	color: #1fb1e6;
}

body .navbar-default .navbar-nav>li>a {
	color: #23366f;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
	color: #1fb1e6 !important;
	background-color: white !important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #1fb1e6 !important;
	background-color: white !important;
}

.dropdown-menu>li>a, .dropdown-menu>li>a {
	color: #23366f !important;
	font-size: 120%;
}

.content {
	margin-top: 80px;
}

.playground {
	background-color: white;
	border-radius: 6px;
}

.btn.btn-primary {
	background-color: #23366f;
}

.btn.btn-primary:hover {
	background-color: #1fb1e6;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	background-color: #23366f !important;
}

.ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min {
	background-color: #23366f;
}

.content .badge {
	background-color: #23366f;
}

.bootstrap-datetimepicker-widget table td.active,
	.bootstrap-datetimepicker-widget table td.active:hover {
	background-color: #23366f !important;
}

#form-eating-activity-list\:btn-add-eating-activity {
	top: 25px;
	right: 35px;
	position:absolute;
}

.hc-chartframe {
	margin-top:50px;
}