<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">
	<h:form id="form-eating-activity-edit">
		<b:modal id="modal-eating-activity-edit" title="Eating Activity"
			styleClass="modal-eating-activity-edit">
			<b:fetchBeanInfos id="edit-eating-activity-info" />
			<b:selectOneMenu value="#{activityEBean.eatingActivity.occasion}" inline="true" col-md="12" label-col-md="6"
				label="Occasion of eating:" >
				<f:selectItems value="#{activityEBean.occasions}" />
			</b:selectOneMenu>
			<b:message for="@previous" />
			<b:selectOneMenu value="#{activityEBean.eatingActivity.companionship}" inline="true" col-md="12" label-col-md="6"
				label="Your companions at the time of eating:">
				<f:selectItems value="#{activityEBean.companionships}" />
			</b:selectOneMenu>
			<b:message for="@previous" />
			<b:selectOneMenu value="#{activityEBean.eatingActivity.foodCategory}" inline="true" col-md="12" label-col-md="6"
				label="Food category eaten:">
				<f:selectItems value="#{activityEBean.foodCategories}" />
			</b:selectOneMenu>
			<b:message for="@previous" />
			<b:selectOneMenu value="#{activityEBean.eatingActivity.reason}" inline="true" col-md="12" label-col-md="6"
				label="Your main for eating:">
				<f:selectItems value="#{activityEBean.reasonsForEating}" />
			</b:selectOneMenu>
			<b:message for="@previous" />
			<b:slider rendered="#{not empty activityEBean.eatingActivity.satisfaction}" handleShape="lg" min="0" max="100" step="10" value="#{activityEBean.eatingActivity.satisfaction}" label="How satisfied were you after?"/>
			<b:message for="@previous" />
			<b:dateTimePicker value="#{activityEBean.eatingActivity.time}"
                    mode="toggle-icon" showWeek="true" />
			<b:message for="@previous" />
			<f:facet name="footer">
				<b:button value="Cancel" dismiss="modal" />
				<b:commandButton value="Save" look="primary" process="form-eating-activity-edit" dismiss="modal"
					actionListener="#{activityEBean.save()}" update="**:edit-eating-activity-info form-eating-activity-edit"
					oncomplete="if(!validationFailed) { $('.modal-eating-activity-edit').modal('hide'); $('.modal-backdrop').remove(); reloadEatingActivites();};" />
			</f:facet>
		</b:modal>
	</h:form>
</ui:composition>