<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" locale="en_US">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
		<h:outputStylesheet library="css" name="shadow.css"></h:outputStylesheet>
		<title><ui:insert name="title">Eating Experience App</ui:insert></title>
	</h:head>
	<h:body>
		<b:navBar brand="ZCAM" brandHref="#" fluid="true">
			<b:navbarLinks>
				<b:dropMenu value="Public Statistics" icon-awesome="globe">
					<b:navLink value="Age" iconAwesome="users" href="/zcamwf/statistics/public/ageSatisfaction.xhtml"/>
					<b:navLink value="Gender" iconAwesome="venus-mars" />
				</b:dropMenu>
			</b:navbarLinks>
			<b:navbarLinks rendered="#{userBean.userLoggedIn}">
				<b:dropMenu value="Personal Statistics" icon-awesome="area-chart">
					<b:navLink value="Daily Meal Frequency" icon-awesome="list-ol" href="/zcamwf/statistics/mealFrequency.xhtml"/>
				</b:dropMenu>
			</b:navbarLinks>
			<b:navbarLinks rendered="#{userBean.userLoggedIn}">
				<b:navLink value="My Eating Activity" icon-awesome="cutlery"
					href="/zcamwf/eating/activity.xhtml" />
			</b:navbarLinks>
			<b:navbarLinks pull="right" id="navbar-acount-External"
				rendered="#{not userBean.userLoggedIn}">
				<b:dropMenu value="Login\Sing-up" iconAwesome="user">
					<b:navLink value="Login" icon-awesome="sign-in" data-toggle="modal"
						onclick="$('.modal-login').modal('show'); return false;" />
					<b:navLink value="Sing-up" iconAwesome="user-plus"
						data-toggle="modal"
						onclick="$('.modal-register').modal('show'); return false;" />
				</b:dropMenu>
			</b:navbarLinks>
			<b:navbarLinks rendered="#{userBean.userLoggedIn}" pull="right"
				id="navbar-account-internal">
				<b:navLink rendered="#{userBean.userLoggedIn}" data-toggle="modal"
					value="#{userBean.currentUser.username}"
					onclick="$('.modal-user-settings').modal('show'); return false;"
					iconAwesome="cog" />
				<b:navLink value="Logout" icon-awesome="sign-out"
					data-toggle="modal"
					onclick="$('.modal-logout').modal('show'); return false;" />
			</b:navbarLinks>
		</b:navBar>
		<ui:include src="/accounts/dialogs/login_dialog.xhtml" />
		<ui:include src="/accounts/dialogs/logout_dialog.xhtml" />
		<ui:include src="/accounts/dialogs/user-settings_dialog.xhtml" />
		<ui:include src="/accounts/dialogs/register_dialog.xhtml" />
		<b:row style-class="content">
			<b:column col-md="10" offset="1" style-class="playground shadow-sharp">
				<ui:insert name="content" />
			</b:column>
		</b:row>
	</h:body>
</f:view>