<ui:composition template="/templates/root.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:b="http://bootsfaces.net/ui"
	xmlns:hf="http://highfaces.org">
	<ui:define name="title">Meal Frequency</ui:define>
	<ui:define name="content">
		<h1>My Meal Frequency</h1>
		<div>
			<hf:chart type="line" value="#{mealFrequencyChartBean.chartItems}"
				var="mealFrequency" xaxisLabel="Date" point="#{mealFrequency.count}"
				tickLabel="#{mealFrequency.date}">
				<hf:chartAxis position="s" type="datetime" tickAngle="-45"
					gridLineColor="#FFFF00" style="font-weight: bold;" 
					format="{value:%d.%m.%Y}" />
			</hf:chart>
		</div>
	</ui:define>
</ui:composition>