<ui:composition template="/templates/root.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf" 
	xmlns:b="http://bootsfaces.net/ui">
	<ui:define name="title">Statistics</ui:define>
	<ui:define name="content">
	</ui:define>
</ui:composition>