<ui:composition template="/templates/root.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:b="http://bootsfaces.net/ui">
	<ui:define name="title">My Eating Activity</ui:define>
	<ui:define name="content">
		<h:form id="form-eating-activity-list">
			<b:remoteCommand name="reloadEatingActivites" update="@form"
				actionListener="#{eatingActivityBean.refresh()}" />
			<b:row>
				<b:column col-md="10">
					<h1>My Eating activity</h1>
				</b:column>
				<b:column col-md="2">
					<b:commandButton id="btn-add-eating-activity" iconAwesome="plus"
						value="Add new" look="primary"
						actionListener="#{eatingActivityBean.createEatingActivity()}"
						oncomplete="$('.modal-eating-activity-edit').modal('show'); return false;"
						update="@form form-eating-activity-edit" />
				</b:column>
			</b:row>
			<b:dataTable value="#{eatingActivityBean.eatingActivites}"
				var="eActivity">
				<b:dataTableColumn value="#{eActivity.time}" label="Time" />
				<b:dataTableColumn value="#{eActivity.foodCategory}"
					label="Food Category" />
				<b:dataTableColumn value="#{eActivity.occasion}" label="Occasion" />
				<b:dataTableColumn value="#{eActivity.satisfaction}"
					label="Satifaction level" />
				<b:dataTableColumn value="#{eActivity.companionship}"
					label="Companionship" />
				<b:dataTableColumn value="#{eActivity.reason}"
					label="Reason for eating" />
				<b:dataTableColumn label="Action" width="10%">
					<b:commandButton type="button" look="primary"
						update="form-eating-activity-edit"
						onclick="ajax:eatingActivityBean.selectEatingActivity(eActivity)"
						oncomplete="$('.modal-eating-activity-edit').modal('show'); reloadEatingActivites();"
						iconAwesome="pencil" />
					<b:commandButton type="button" look="primary" process="@this"
						onclick="ajax:eatingActivityBean.deleteEatingActivity(eActivity);"
						oncomplete="reloadEatingActivites();" iconAwesome="trash" />
				</b:dataTableColumn>
			</b:dataTable>
		</h:form>
		<ui:include src="/eating/dialog/eatingActivityEdit_dialog.xhtml">
			<ui:param name="activityEBean"
				value="#{eatingActivityBean.eatingActivityEditBean}" />
		</ui:include>
	</ui:define>
</ui:composition>