<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">
	<h:form id="form-login">
		<b:modal id="modal-login" title="Login" styleClass="modal-login">
			<b:fetchBeanInfos id="beanInfos"/>
			<b:inputText placeholder="Type in your username" required="true" label="Username"
				colMd="9" labelColMd="3" value="#{loginBean.username}">
				<f:facet name="prepend">
					<b:icon name="user" />
				</f:facet>
			</b:inputText>
			<b:message for="@previous" />
			<b:inputSecret placeholder="Type in your password" required="true"
				label="Password" colMd="9" labelColMd="3"
				value="#{loginBean.password}">
				<f:facet name="prepend">
					<b:iconAwesome name="key" />
				</f:facet>
			</b:inputSecret>
			<b:message for="@previous" />
			<b:messages redisplay="false"/>
			<f:facet name="footer">
				<b:button value="Cancel" dismiss="modal" />
				<b:commandButton value="Login" look="primary"
					actionListener="#{loginBean.login()}" update="**:beanInfos" oncomplete="if(!validationFailed) { $('.modal-login').modal('hide')};" />
			</f:facet>
		</b:modal>
	</h:form>
</ui:composition>