<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">
	<h:form id="form-logout">
		<b:modal id="modal-logout" title="You want to log-out?" styleClass="modal-logout">
			<b:fetchBeanInfos id="beanInfos"/>
			<b:message />
			<f:facet name="footer">
				<b:button value="Cancel" dismiss="modal" />
				<b:commandButton value="Logout" look="primary"
					actionListener="#{userBean.logout()}" update="**:beanInfos" oncomplete="if(!validationFailed) { $('.modal-logout').modal('hide')};" />
			</f:facet>
		</b:modal>
	</h:form>
</ui:composition>