<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">
	<h:form id="form-register">
		<b:modal id="modal-register" title="Register" styleClass="modal-register">
			<b:fetchBeanInfos id="register-bean-info"/>
			<b:inputText label="Username" placeholder="Type in a unique username" required="true" colMd="9"
				labelColMd="3" value="#{registerBean.username}">
				<f:facet name="prepend">
					<b:icon name="user" />
				</f:facet>
			</b:inputText>
			<b:message for="@previous" />
			<b:inputSecret label="Password" placeholder="Type in a secure password" colMd="9" required="true"
				labelColMd="3" value="#{registerBean.password}">
				<f:facet name="prepend">
					<b:iconAwesome name="key" />
				</f:facet>
			</b:inputSecret>
			<b:message for="@previous" />
			<b:inputSecret label="Confirm password" placeholder="Re-type your secure password" colMd="9" required="true"
				labelColMd="3" value="#{registerBean.passwordConfirm}">
				<f:facet name="prepend">
					<b:iconAwesome name="key" />
				</f:facet>
			</b:inputSecret>
			<b:message for="@previous" />
			<b:messages redisplay="false"/>
			<f:facet name="footer">
				<b:button value="Cancel" dismiss="modal" />
				<b:commandButton value="Register" look="primary"  oncomplete="if(!validationFailed) { $('.modal-register').modal('hide') }"
					actionListener="#{registerBean.register()}" update="**:register-bean-info" />
			</f:facet>
		</b:modal>
	</h:form>
</ui:composition>