<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">
	<h:form id="form-user-settings">
		<b:modal id="modal-user-settings" title="User settings"
			styleClass="modal-user-settings">
			<b:fetchBeanInfos id="user-settings-bean-info" />
			<b:dateTimePicker value="#{userSettingsBean.user.birthDate}"
				mode="toggle-icon" showWeek="true" />
			<b:message for="@previous" />
			<b:selectOneMenu value="#{userSettingsBean.user.gender}"
				inline="true" label="Your gender:">
				<f:selectItems value="#{userSettingsBean.genders}" />
			</b:selectOneMenu>
			<b:selectOneMenu value="#{userSettingsBean.user.country}"
				inline="true" label="Your country of residence:">
				<f:selectItems value="#{userSettingsBean.countries}" />
			</b:selectOneMenu>
			<f:facet name="footer">
				<b:button value="Cancel" dismiss="modal" />
				<b:commandButton value="Save" look="primary"
					oncomplete="if(!validationFailed) { $('.modal-user-settings').modal('hide') }"
					actionListener="#{userSettingsBean.save()}"
					update="**:user-settings-bean-info" />
			</f:facet>
		</b:modal>
	</h:form>
</ui:composition>