<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>BootsFaces Basic Page</title>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const chart = Highcharts.chart('container', {
				chart : {
					type : 'bar'
				},
				title : {
					text : 'Fruit Consumption'
				},
				xAxis : {
					categories : [ 'Apples', 'Bananas', 'Oranges' ]
				},
				yAxis : {
					title : {
						text : 'Fruit eaten'
					}
				},
				series : [ {
					name : 'Jane',
					data : [ 1, 0, 4 ]
				}, {
					name : 'John',
					data : [ 5, 7, 3 ]
				} ]
			});
		});
	</script>
</h:head>
<h:body>
	<b:container>
		<b:row>
			<b:column>
				<h1>#{helloWorld.provideMessage()}</h1>

				<div id="container" style="width: 100%; height: 400px;"></div>

			</b:column>
			<h:form id="createUserForm">
				<b:column>
					<b:commandButton value="createUser" look="primary"
						onclick="ajax:helloWorld.createUser()" />
				</b:column>
			</h:form>
		</b:row>
	</b:container>
</h:body>
</html>