<ui:composition template="/templates/root.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:b="http://bootsfaces.net/ui"
	xmlns:hf="http://highfaces.org">
	<ui:define name="title">Meal Frequency</ui:define>
	<ui:define name="content">
		<h1>Statistics By Age</h1>
		<div>
			<hf:chart type="column" value="#{ageGroupsSatisfactionChartsBean.chartItems}" var="satisfaction"
        point="#{satisfaction.average}" tickLabel="#{satisfaction.ageRange}" title="Average Meal Satisfaction"           
/>
		</div>
	</ui:define>
</ui:composition>